{% extends "base_landing.html" %}

{# Акт Landing - использует базовый шаблон #}

{% block landing_defaults %}
{% set default_title = 'Акт выполненных работ — Documatica' %}
{% set default_description = 'Создайте акт выполненных работ онлайн бесплатно' %}
{% set default_keywords = 'акт выполненных работ онлайн' %}
{% set default_h1 = 'Генератор акта выполненных работ' %}
{% set default_intro = 'Создайте акт выполненных работ онлайн бесплатно' %}
{% set default_cta_text = 'Создать акт' %}
{% set default_cta_url = '/dashboard/akt/create/' %}
{% endblock %}

{% block landing_preview %}
{% include "components/akt_preview.html" ignore missing %}
{% endblock %}

{% block sidebar_cta_title %}Готовы создать акт?{% endblock %}
{% block sidebar_cta_text %}Автозаполнение реквизитов по ИНН, актуальная форма 2026 года{% endblock %}
