/* Home 16 Css start */
.grid-cols-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.stats-card-wrapper {
    display: flex;
    gap: clamp(1.75rem, -0.9615rem + 5.649vw, 4.6875rem);
}

.hover-gradient {
    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        inset-inline-start: 0;
        inset-block-start: 0;
        background: linear-gradient(180deg, rgba(20, 75, 214, 0.15) 0%, rgba(255, 255, 255, 0.00) 100%);
        z-index: -1;
        transition: .3s ease-in-out;
    }

    &:hover::before {
        height: 100%;

    }
}

.gap-50-px {
    gap: clamp(1.5rem, 0rem + 3.125vw, 3.125rem);
}

/* Home 16 Css end */